
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Contract</th>
    <th>Remain</th>
    <th>Unit Price</th>
    <th>Pay Type</th>
    <th>Date</th>
    <th>Priority</th>
    <th>Url</th>
    <th>Length</th>
    <th>Client ID</th>
    <th> </th>
  </tr>
  <% for cpdm_advertisement in @cpdm_advertisements %>
    <tr>
      <td><%= cpdm_advertisement.id %></td>
      <td><%= cpdm_advertisement.ad_name %></td>
      <td><%= cpdm_advertisement.contract %></td>
      <td><%= cpdm_advertisement.remain %></td>
      <td><%= cpdm_advertisement.unit_price %></td>
      <td><%= cpdm_advertisement.pay_type %> (<%=cpdm_advertisement.pay_kind %>)</td>
      <td><%= cpdm_advertisement.start_date %> ~ 
      <%= cpdm_advertisement.end_date %></td>
      <td><%= cpdm_advertisement.priority %></td>
      <td><%= cpdm_advertisement.url %></td>
      <td><%= cpdm_advertisement.length %></td>
      <td><%= link_to "Edit", edit_admin_cpdm_advertisement_path(cpdm_advertisement), :class=>"btn btn-warning" %>
      <%#= link_to "Destroy", [:admin, cpdm_advertisement], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Cpdm Advertisement", new_admin_cpdm_advertisement_path %></p>
