<% title "Admin/Sessions" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for session in @sessions %>
    <tr>
      <td><%= session.name %></td>
      <td><%= link_to "Show", [:admin, session] %></td>
      <td><%= link_to "Edit", edit_admin_session_path(session) %></td>
      <td><%= link_to "Destroy", [:admin, session], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Session", new_admin_session_path %></p>
