<div class='noset' <% if @align == '1' %>style='color:red;'<% end %> data-status="<%=@align =='1' ? 1 : 0 %>">
  안한거 앞으로 끌고<%=@align =='1' ? "왔지롱 (click!!)" : "오기 (click!!)" %>
</div>
<table class="table table-hover">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Mean</th>
    <th>phonetics</th>
    <th>ko_exam</th>
    <th>en_exam</th>
    <th>is_picture</th>
    <th></th>
    <th></th>
  </tr>
  <% for word in @words %>
    <tr>
      <td><%= word.id %></td>
      <td><%= word.name %></td>
      <td><%= word.mean %></td>
      <td><%= word.phonetics %></td>
      <td><%= word.example_ko %></td>
      <td><%= word.example_en %></td>
      <td><%= 'O' if word.picture == 1 %></td>
      <td><%= link_to "Edit", edit_admin_word_path(word, :before_page => @page, :is_align => @align), :class => 'btn btn-warning' %></td>
      <td><% link_to "Destroy", [:admin, word], :data => { confirm: 'Text' }, :method => :delete, :class=>'btn btn-danger' %></td>
    </tr>
  <% end %>
</table>
<%= paginate(@words) %>
