<% title "Api/Valid Nicknames" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for valid_nickname in @valid_nicknames %>
    <tr>
      <td><%= valid_nickname.name %></td>
      <td><%= link_to "Show", [:api, valid_nickname] %></td>
      <td><%= link_to "Edit", edit_api_valid_nickname_path(valid_nickname) %></td>
      <td><%= link_to "Destroy", [:api, valid_nickname], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Api/Valid Nickname", new_api_valid_nickname_path %></p>
