<%= form_for [:admin, @advertisement] do |f| %>
  <%#= f.error_messages %>

  <div class="control-group">
    <label class="control-label">Kind</label>
    <div class="controls">
      <label><%= f.text_field :kind %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">start_time</label>
    <div class="controls">
      <label>
        <%= f.text_field :start_time , :class=>"calendar input-small"%> ~ 
        <%= f.text_field :end_time, :class => "calendar input-small" %>
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">count</label>
    <div class="controls">
      <label><%= f.text_field :count %></label>
    </div>
  </div>

  <% if f.object.kind == 1 %>
     <%= render :partial => 'cpd', :locals => {:form => f} %>
  <% elsif f.object.kind == 2 %>
  <% elsif f.object.kind == 2 %>
  <% elsif f.object.kind == 2 %>
  <% elsif f.object.kind == 2 %>
  <% end %>
 
  <p><%= f.submit %></p>


<% end %>
