
<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Kind</th>
      <th>Count</th>
      <th>Remain</th>
      <th>Time</th>
      <th>Priority</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @cpd_advertisements.each do |cpd_advertisement| %>
      <tr>
        <td><%= cpd_advertisement.ad_name %></td>
        <td><%= cpd_advertisement.kind %></td>
        <td><%= cpd_advertisement.count %></td>
        <td><%= cpd_advertisement.remain %></td>
        <td><%= cpd_advertisement.start_time %> ~ <%= cpd_advertisement.end_time %></td>
        <td><%= cpd_advertisement.priority %></td>
        <td><%= link_to 'Edit', edit_admin_cpd_advertisement_path(cpd_advertisement) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cpd advertisement', new_admin_cpd_advertisement_path %>
