<%= form_for [:admin, @cpx_advertisement] do |f| %>
  <% if @cpx_advertisement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cpx_advertisement.errors.count, "error") %> prohibited this cpx_advertisement from being saved:</h2>
      <ul>
      <% @cpx_advertisement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <label class="control-label">name</label>
    <div class="controls">
      <label><%= f.text_field :ad_name %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">ad_type</label>
    <div class="controls">
      <label>
        <%= f.radio_button :ad_type, 301, :checked=>f.object.ad_type ==301 || f.object.kind == nil  %> CPI
      </label>
      <label>
        <%= f.radio_button :ad_type, 302, :checked =>f.object.kind ==302 %> CPL
      </label>
      <label>
        <%= f.radio_button :ad_type, 303, :checked=>f.object.kind ==303 %> CPA
      </label>
      <label>
        <%= f.radio_button :ad_type, 304, :checked=>f.object.kind ==304  %> CPE
      </label>
      <label>
        <%= f.radio_button :ad_type, 305, :checked=>f.object.kind ==305  %> CPS
      </label>
      <label>
        <%= f.radio_button :ad_type, 306, :checked=>f.object.kind ==306  %> CPC
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">count</label>
    <div class="controls">
      <label><%= f.text_field :count %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">remain</label>
    <div class="controls">
      <label><%= f.text_field :remain %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Date</label>
    <div class="controls">
      <label>
        <%= f.text_field :start_date, :class => "calendar" %> ~
        <%= f.text_field :end_date, :class=> "calendar", :readolny=>true %>
      </label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">ad_image</label>
    <div class="controls">
      <label><%= f.file_field :ad_image %></label>
    <%= image_tag f.object.ad_image_url if f.object.ad_image.present? %>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">ad_text</label>
    <div class="controls">
      <label><%= f.text_field :ad_text %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">store_url</label>
    <div class="controls">
      <label><%= f.text_field :store_url %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">package_name</label>
    <div class="controls">
      <label><%= f.text_field :package_name %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">confirm_url</label>
    <div class="controls">
      <label><%= f.text_field :confirm_url %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">reward</label>
    <div class="controls">
      <label><%= f.text_field :reward %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">n_question</label>
    <div class="controls">
      <label><%= f.text_field :n_question %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">priority</label>
    <div class="controls">
      <label>
        <%= f.radio_button :priority, 1, :checked=>  f.object.priority ==1  %>1 
      </label>
      <label>
        <%= f.radio_button :priority, 2, :checked=>  f.object.priority ==2  %>2 
      </label>
      <label>
        <%= f.radio_button :priority, 3, :checked=>  f.object.priority ==3  %>3 
      </label>
      <label>
        <%= f.radio_button :priority, 4, :checked=>  f.object.priority ==4 %>4 
      </label>
      <label>
        <%= f.radio_button :priority, 5, :checked=>  f.object.priority ==5 || f.object.priority ==  nil  %>5 
      </label>
    </div>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
