
<table class="table table-hover">
  <tr>
    <th>Name</th>
    <th>Kind</th>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Count</th>
    <th>Remain</th>
    <th>Priority</th>
    <th>Url</th>
  </tr>
  <% for cpx_advertisement in @cpx_advertisements %>
    <tr>
      <td><%= cpx_advertisement.name %></td>
      <td><%= cpx_advertisement.ad_type %></td>
      <td><%= cpx_advertisement.start_time %></td>
      <td><%= cpx_advertisement.end_time %></td>
      <td><%= cpx_advertisement.count %></td>
      <td><%= cpx_advertisement.remain %></td>
      <td><%= cpx_advertisement.priority %></td>
      <td><%= cpx_advertisement.url %></td>
      <td><%= link_to "Edit", edit_admin_cpx_advertisement_path(cpx_advertisement), :class => "btn btn-warning" %></td>
      <td><%#= link_to "Destroy", [:admin, cpx_advertisement], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Cpx Advertisement", new_admin_cpx_advertisement_path %></p>
