<% title "Api/Products" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for product in @products %>
    <tr>
      <td><%= product.name %></td>
      <td><%= link_to "Show", [:api, product] %></td>
      <td><%= link_to "Edit", edit_api_product_path(product) %></td>
      <td><%= link_to "Destroy", [:api, product], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Api/Product", new_api_product_path %></p>
