<% title "Api/Users" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for user in @users %>
    <tr>
      <td><%= user.name %></td>
      <td><%= link_to "Show", [:api, user] %></td>
      <td><%= link_to "Edit", edit_api_user_path(user) %></td>
      <td><%= link_to "Destroy", [:api, user], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Api/User", new_api_user_path %></p>
