
<table class="table table-hover">
  <thead>
    <tr>
      <th>id</th>
      <th>Email</th>
      <th>Facebook</th>
      <th>Nickname</th>
      <th>Recommend</th>
      <th>Sex</th>
      <th>Birth</th>
      <th>Address</th>
      <th>Mobile</th>
      <th>Interest</th>
      <th>Last test</th>
      <th>Level test</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.facebook %></td>
        <td><%= user.nickname %></td>
        <td><%= user.recommend %></td>
        <td><%= "M" if user.sex ==1 %><%= "F" if user.sex ==2%></td>
        <td><%= user.birth %></td>
        <td><%= user.address %></td>
        <td><%= user.mobile %></td>
        <td><%= user.interest %></td>
        <td><%= user.last_test %></td>
        <td><%= 'O' if user.level_test == 1 %></td>
        <td><%= link_to 'Edit', edit_admin_user_path(user), :class=>'btn btn-warning' %></td>
        <td><%#= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

