<%= form_for [:admin, @app_info] do |f| %>
  
  <div class="control-group">
    <label class="control-label">Time</label>
    <div class="controls">
      <label><%= f.text_field :time %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">One_Star</label>
    <div class="controls">
      <label><%= f.text_field :one_star %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">two_star</label>
    <div class="controls">
      <label><%= f.text_field :two_star %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">max_money</label>
    <div class="controls">
      <label><%= f.text_field :max_money %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">Android_version</label>
    <div class="controls">
      <label><%= f.text_field :android_version %></label>
    </div>
  </div>
  
  <div class="control-group">
    <label class="control-label">ios_version</label>
    <div class="controls">
      <label><%= f.text_field :ios_version %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">app_server</label>
    <div class="controls">
      <label><%= f.text_field :app_server %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">popup_style</label>
    <div class="controls">
      <label><%= f.text_field :popup_style%></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">popup_image</label>
    <div class="controls">
      <label><%= f.file_field :popup_image %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">popup_text</label>
    <div class="controls">
      <label><%= f.text_field :popup_text %></label>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">day_limit</label>
    <div class="controls">
      <label><%= f.text_field :day_limit %></label>
    </div>
  </div>
  <p><%= f.submit %></p>
 
<% end %>
